body{
    width: 100%;
    height:100%;
    margin:0px;
    min-height: 100vh;
}


.width3{
    width: 33%;
}

.aboutMeAndContact p{
    font-size: 18px;
    font-weight: 400;
}

.modal{max-height: 100%;}

.modal-content{
    position: relative;
}
.modal > div.card-content > div.card-action{
    display: flex;
    gap: 7px;
}
.card.large{
    
    height: 575px;
    
}

.tabs{
    height: 100%;
}
.tabs .tab{
    height: 100%;
    line-height: inherit;
}
.block{
    display: block;
}

@media(max-width: 900px){
    nav .brand-logo{
        font-size: 1.5em;
    }
    
}

@media(max-width: 650px){
    .card.large{
    
        height: 500px;
        
    }
}

.card .card-content p.chip {
    margin: 2px 0px;
    box-sizing: border-box;
}
 .carousel .carousel-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .carousel-item{
    width: 100%;
    height: 100%;
}
 


.modal .modal-content{
    padding: 0px;
    height: 100%;
}
.modal{
    width: 1100px;
    bottom: 2%;
    max-width: 100%;
}
/* .modal > div > div.card-content > div.card-action{
    /* position: absolute;
    bottom: 0%; */
textarea{
    font-size: 1.4em;
    padding: 4px;
    min-height: 50px;
}
.slider .slides li img{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: min(50.64%, 64vh);
}
.slider .slides li {
    opacity: 1!important;
    background-color: white;
}
.slider .slides li.active {
    position: relative;
}
.slider .indicators{
    z-index: 2;
}

.slider .indicators .indicator-item {
    bottom: 10px;
    border-radius: 0;
    width: 48px;
    height: 4px;
    opacity: 0.8;
    box-shadow: 1px 0px 3px lightslategrey;
}
.slider .indicators .indicator-item.active {
    background-color: rgb(216, 58, 54);
    opacity: 1;
}
.slider{
    height: fit-content !important;
}

.slider .slides{ 
    background-color: white;
    height: fit-content !important;
}
.modal{
    height: fit-content;
}
