body{
    width: 100%;
    height:100%;
    margin:0px;
    min-height: 100vh;
}
/*
#frontPage, #aboutMeAndContact{
    height: 100vh;
    width:100%;
    margin:0px;

}

#frontPage{
    background: linear-gradient(90deg, lightblue, rgb(68, 68, 190));
    position: relative;
}
header{
    z-index: 2;
}

h1{
    position: absolute;
    right:50%;
    bottom:50%;
}
h2{
    position: absolute;
    left:50%;
    top:50%;
}

#backgroundImage{
    height:100%;
    width:100%;
    background-image:url(/Images/codeBackgroundImage.jpg);
    background-size:cover;
    background-position: center;
    z-index:1;
    opacity: 0.5;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
nav{
    position: fixed;
    top:0;
    right:0;
    left:0;
    background-color: azure;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

ul{
    display:flex;
    flex-flow: column;
    list-style: none;
    justify-content: space-evenly;
}
li{
    width:50%;
    min-width:400px;
    margin: 2%;
    background-color: lightseagreen;

} */

.modal{max-height: 100%;}

.modal-content{
    position: relative;
}

.card.large{
    
    height: 575px;
    
}

.tabs{
    height: 100%;
}
.tabs .tab{
    height: 100%;
    line-height: inherit;
}
.block{
    display: block;
}

@media(max-width: 900px){
    nav .brand-logo{
        font-size: 1.5em;
    }
    
}

@media(max-width: 650px){
    .card.large{
    
        height: 500px;
        
    }
}

.card .card-content p.chip {
    margin: 2px 0px;
    box-sizing: border-box;
}